<% layout("/layouts/boilerplate") %>
<body>
    <h3>Edit Your Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
        <input type="text" name="listing[title]" value="<%= listing.title %>" required><br><br>
        <textarea name="listing[description]" ><%= listing.description %></textarea><br><br>
        <input type="text" name="listing[image][filename]" value="<%= listing.image.filename %>" required><br><br>
        <input type="text" name="listing[image][url]" value="<%= listing.image.url %>" required><br><br>
        <input type="number" name="listing[price]" value="<%= listing.price %>"><br><br>
        <input type="text" name="listing[location]" value="<%= listing.location %>"><br><br>
        <input type="text" name="listing[country]" value="<%= listing.country %>"><br><br>
        <button type="submit">Edit</button>
    </form>
</body>
